// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import '~@fortawesome/fontawesome-free/css/all.min.css';


body{

  background: lightgrey;

  header{

    h1{

      color:darkblue;
      font-size: 50px;
      font-family: 'Lobster', cursive;
      text-align: center;

    }
  }

  .wrapper{

    font-family: 'PT Sans Narrow', sans-serif;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin:auto;
    width:1400px;

    .post-box{

      width:200px;
      height:400px;
      position: relative;

      background-color: darkgrey;
      border:2px solid black;
      border-radius: 10px;
      box-shadow: 2px 5px 5px;
      margin:20px 10px;

      text-align: center;
      font-size:18px;



      h3{

        text-transform: uppercase;
        padding-bottom:10px;

        a{

          text-decoration: none;
          color:darkblue;
        }
      }

      .category{

        a{

          text-decoration: none;
          color:dimgray;

          &:hover{
            color:black;
          }
        }
      }
      .subtitle{

        color:blueviolet;
        font-weight: 200;
      }
      .updated_at{

        position:absolute;
        bottom:15px;
        left:35px;
      }

      .edit-post{

        position:absolute;
        bottom:70px;
        left:70px;

        a{
          color:darkred;
          text-decoration: none;
        }
      }
    }

    .big-post{

      .post-title{

        color:deepskyblue;
        text-transform: uppercase;
        text-align: center;
        margin-bottom:30px;
      }

      .post-content{

        text-align: center;
        font-size: 30px;
        border:1px solid deepskyblue;
        padding:20px;
        border-radius: 10px;
        box-shadow: 5px 10px 10px ;
      }
    }
  }

  .create{

    text-align: center;
    padding-top:30px;

    a{

      font-size: 35px;
      color:darkred;
      text-decoration: none;
    }
  }

  .category-name{

    text-transform: uppercase;
    text-align: center;
    font-size:40px;
    color:dimgray;
  }

  .edit-wrapper{
    display: flex;
    flex-direction: column;

    h1{

      text-align: center;
      color:deepskyblue;
    }

    form{

      margin:auto;

      .form-group{

        label{

          text-align: center;
          font-size:20px;
        }

        input{

          text-align: left;
        }
      }
    }
  }

  .search{



    .title{

      color:darkred;
      text-align: center;
      font-family: 'PT Sans Narrow', sans-serif;
      font-size:35px;
      padding:50px 0;
    }

    form{

      display: flex;
      justify-content: center;
      padding-bottom:40px;
      font-size:18px;

      .form-group{

        padding:5px 20px;

      }
    }
  }
  footer{

    h5{

      text-align: center;
    }
  }
}
